{% load static i18n cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}AMAP Auvergne{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{% page_attribute 'meta_description' %}">
        <meta name="author" content="Stéphane Moulinux">
        
        <!-- Theme CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" media="screen" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" media="screen" />
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Matomo -->
        <script>
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//localhost:7084/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->

        <!-- django CMS -->
        {% render_block "css" %}
    </head>
    
    <body class="{% block body_class %}{% endblock body_class %}">
        {% cms_toolbar %}
        <header class="main">
            <div class="wrapper">
                <div class="col-12 col-m4 logo">
                    <a href="/" title="Retour sur la page d'accueil du site">
                        <img src="{% static 'img/logo-amap-auvergne.png' %}" alt="Logo du réseau AMAP Auvergne" />
                    </a>
                </div>
                <nav class="navigation main col-12 col-m8">
                    <ul>
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </nav>
            </div>
        </header>
        
        {% block content %}{% endblock content %}

        <footer class="main">
            <section class="wrapper">
                <div class="col-12 col-s4">
                    <article class="small">
                        {% static_placeholder "reseau" site or %}There is no content.{% endstatic_placeholder %}
                    </article>
                </div>
                <div class="col-12 col-s4">
                    <article class="small">
                    </article>
                </div>
                <div class="col-12 col-s4">
                    <article class="small">
                        {% static_placeholder "partenaires" site or %}There is no content.{% endstatic_placeholder %}
                    </article>
                </div>
            </section>
            <section class="clear">
                <div class="col-6">
                    <div class="xsmall">
                        <p>© {% now 'Y' %} Réseau AMAP Auvergne</p>
                    </div>
                </div>
                <div class="col-6 align-right">
                    <div class="xsmall">
                        <a href="/admin/">Espace administrateur</a>
                    </div>
                </div>
            </section>
        </footer>

        <!-- django CMS -->
        {% render_block "js" %}
    </body>
</html>
