{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block body_class %}home{% endblock body_class %}

{% block content %}
    <article class="teaser">
        <div class="teaser-background">
            <div class="wrapper">
                <div class="col-12 col-m4">
                    <div class="teaser-content">
                        <h1>Devenez consomm'acteur !</h1>
                        
                        <p>Les <abbr>AMAP</abbr> vous permettent d'acheter vos produits fermiers auprès de vos producteurs locaux sans intermédiaire.</p>
                        <form action="/fr-fr/la-vie-des-amap/trouver-une-amap/">
                            <label for="search">Une AMAP près de chez moi</label>
                            <input type="search" placeholder="Ville, rue" name="search" id="search" />
                            <input type="submit" value="Chercher une AMAP" class="btn btn-cta">
                        </form>
                    </div>
                    <p class="teaser-partner-link">
                        <a href="/">Le réseau des AMAP d'Auvergne</a>
                    </p>
                </div>
                <figure class="teaser-cover col-12 col-m8" style="background-image: url({% static 'img/thumb_fermiere-en-amap.png' %})">
                    <img src="{% static 'img/fermiere-en-amap.png' %}" alt="Une joyeuse fermière avec sa fourche" title="Fermière en AMAP"/>
                </figure>
            </div>
        </div>
        <aside class="teaser-cta" id="content">
            <div class="wrapper">
                <div class="col-12 col-m8">
                    {% placeholder "teaser" %}
                </div>
                <div class="col-12 col-m4">
                    <a href="/fr-fr/le-reseau/adherer-au-reseau/" class="btn btn-invert btn-block">Adhérer au réseau</a>
                </div>
            </div>
        </aside>
        <div class="teaser-details">
            <div class="wrapper">
                <article class="col-12 col-m4">
                    {% placeholder "avantages" %}
                </article>
                <article class="col-12 col-m4">
                    {% placeholder "engagements" %}
                </article>
                <article class="col-12 col-m4">
                    {% placeholder "fonctionnement" %}
                </article>
            </div>
        </div>
    </article>
{% endblock content %}
