{% load i18n menu_tags cache %}

{% for child in children %}
    <li class="col-12 col-s6 col-m3">
        <a class="navigation-main-fancy-link
        {% if child.selected %} current{% endif %}
        {% if child.ancestor %} current{% endif %}"
        href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
    </li>
    {% if class and forloop.last and not forloop.parentloop %}{% endif %}
{% endfor %}
