{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="wrapper">
        <article class="col-12 col-m8">
            <h1>{% page_attribute "page_title" %}</h1>
            {% placeholder "content" %}
        </article>
        <aside class="main col-12 col-m4">
            <ul class="navigation navigation-vertical">
                {% show_sub_menu 1 1 100 "submenu.html" %}
            </ul>
        </aside>
    </div>
{% endblock content %}
