{% load menu_tags %}

{% for child in children %}
<li>
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        {% if child.selected %}> {% endif %}
        {{ child.get_menu_title }}</a>
</li>
{% endfor %}
